# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/manageservice/.manage-service.ini
/manageservice.egg-info
/dist

# testing
/coverage

# production
/build
.pybuild/

# misc
.DS_Store
.gitignore.swp
/manageservice/__pycache__/

