Source: manage-service
Section: python
Priority: extra
Maintainer: Sean O'Rourke <deathbreakfast2@gmail.com>

Package: manage-service
Architecture: any
Description: Service that will check a Github repo and download the master branch if it has a newer rev
