Source: manage-service
Section: python
Priority: extra
Build-Depends: python3, debhelper (>=9), dh-python
X-Python3-Version: 3.8
Maintainer: Sean O'Rourke <deathbreakfast2@gmail.com>

Package: manage-service
Architecture: any
Section: python
Depends: python3, ${misc:Depends}, ${:python3:Depends}
Description: Service that will check a Github repo and download the master branch if it has a newer rev
